<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<br />
<h1 th:text="${title}">Title</h1>
<br />
<div th:if="${reviewData.isEmpty()}">
    <h2>No Reviews To Read. Please Write A Review!</h2>
    <a href="/write-a-review">Write A Review</a>
</div>
<br />
<blockquote class="blockquote text-center container" th:each="review : ${reviewData}" th:unless="${reviewData.isEmpty()}">
    <h3 class="mb-0" th:text="${review.review}"></h3>
    <footer class="blockquote-footer" th:text="${review.getUser().getfName()}"></footer>
    <br />
</blockquote>

    <footer class="footer" th:unless="${reviewData.isEmpty()}">Would You Like To Let Others Know If You Were Satisfied With The Services Provided? You Can Do
    That Here! <a href="/write-a-review">Write A Review</a></footer>


</body>
</html>