<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>User Information</h1>
<nav th:replace="fragments :: navigation"></nav>


    <form method="post">
        <label for="name">First, Last Name</label>
        <input type="text" name="name" id="name" />
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" id="phone" />
        <lable for="address">Address</lable>
        <input type="text" name="address" id="address" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>