<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<br />
<h1 th:text="${title}">Title</h1>
<br />

<body>
    <header th:replace="fragments :: header"></header>
    <div th:if="${userData.isEmpty()}">
        <h2>You Have Not Added Any Personal Information</h2>
        <a href="/pet-information/add">Please </a>
    </div>
    <div th:unless="${userData.isEmpty()}">
        <table id="info" th:each="field : ${userData}">
            <tr>
                <th>Name:</th>
                <td th:text="${field.name}"></td>
            </tr>
            <tr>
                <th>Telephone:</th>
                <td th:text="${field.phone}"></td>
            </tr>
            <tr>
                <th>Address:</th>
                <td th:text="${field.address}"></td>
            </tr>
            <tr>
                <th>City:</th>
                <td th:text="${field.city}"></td>
            </tr>
            <tr>
                <th>State:</th>
                <td th:text="${field.state}"></td>
            </tr>
            <tr>
                <th>Zip Code:</th>
                <td th:text="${field.zip}"></td>
            </tr>
        </table>
    </div>



</body>
</html>