<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<table>
    <tr>
        <td>Name</td>
        <td>Phone Number</td>
        <td>Address</td>
    </tr>
</table>
<table>
    <tr th:each="field : ${userData}">
        <td th:text="${field.name}"></td>
        <td th:text="${field.phone}"></td>
        <td th:text="${field.address}"></td>
    </tr>
</table>

</body>
</html>