<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>
<table>
    <tr>
        <td>Name</td>
        <td>Phone Number</td>
        <td>Address</td>
        <td>City</td>
        <td>State</td>
        <td>Zip Code</td>

    </tr>
</table>
<table>
    <tr th:each="field : ${userData}">
        <td th:text="${field.name}"></td>
        <td th:text="${field.phone}"></td>
        <td th:text="${field.address}"></td>
        <td th:text="${field.city}"></td>
        <td th:text="${field.state}"></td>
        <td th:text="${field.zip}"></td>

    </tr>
</table>

</body>
</html>