<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

    <br />

    <h3>Here at St. Louis Dog Sitting I offer a range of services to fit your needs. Going out of town for the weekend or longer? The
    the Extended Stay service is for you. Going to be gone for a day and need someone to watch your pet? The Full Day service is for you.
    Do you just want someone to come over for a few hours and keep your pet company? The Half day service is for you.</h3>
    <br />
    <ul>
        <h4>Extended Stay</h4>

        <h6>Overnight Stay(I will stay in your home overnight with your pet. The benefit of staying in the safety and comfort
        your home is that your pet will maintain their normal routine and avoid the emotional and physical stress of
        being in a boarding facility. The Extended Stay is dog and house sitting in one. I will pick u your mail, make sure
            it looks like someone is home and most important of all make sure your pet is happy.)</h6>
        <li>Feeding(Breakfast, Dinner and treats)</li>
        <li>Medications(If your pet takes any)</li>
        <li>Walking(Down the street, at a dog park, for a hike)</li>
        <li>Bathroom(Make sure your pet does their business outside and cleanup afterwards.)</li>
        <br />
        <h4>Full Day</h4>

        <h6>The Full Day(I will come over in the morning and keep your pet company all day. I will stay until the agreed
        upon time. Ill make sure that when I leave your pet has gone to the bathroom and the house is locked up tight
            and looks just as you left it.)</h6>
        <li>Feeding(Breakfast, Dinner and treats)</li>
        <li>Medications(If your pet takes any)</li>
        <li>Walking(Down the street, at a dog park, for a hike)</li>
        <li>Bathroom(Make sure your pet does their business outside and cleanup afterwards.)</li>
        <br />
        <h4>Half Day</h4>
        <h6>For a few hours I will come by your house and keep your pet company. This service is for those who need a dog
            walker or someone to just check in on their pet during the day.</h6>
        <li>Feeding(Breakfast, Dinner and treats)</li>
        <li>Medications(If your pet takes any)</li>
        <li>Walking(Down the street, at a dog park, for a hike)</li>
        <li>Bathroom(Make sure your pet does their business outside and cleanup afterwards.)</li>
    </ul>

<footer class="footer" >If You Have Any Questions About My Services <a href="/message">Send A Message</a></footer>
</body>
</html>